# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# add me
/data

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
将删除 .idea/
将删除 ".~\345\256\236\351\252\214\350\256\260\345\275\225.xlsx"
将删除 data/citeseer/
将删除 data/cora/
将删除 data/npz/amazon_electronics_computers.npz
将删除 data/npz/amazon_electronics_photo.npz
将删除 data/npz/citeseer.npz
将删除 data/npz/cora.npz
将删除 data/npz/cora_full.npz
将删除 data/npz/explore_data.ipynb
将删除 data/npz/ms_academic_cs.npz
将删除 data/npz/ms_academic_phy.npz
将删除 data/npz/pubmed.npz
将删除 data/ppi/
将删除 data/pubmed/
将删除 dataset/
将删除 gat.yml
将删除 layers_original.py
将删除 output/0.pkl
将删除 output/1.pkl
将删除 output/10.pkl
将删除 output/100.pkl
将删除 output/101.pkl
将删除 output/102.pkl
将删除 output/103.pkl
将删除 output/104.pkl
将删除 output/105.pkl
将删除 output/106.pkl
将删除 output/107.pkl
将删除 output/108.pkl
将删除 output/109.pkl
将删除 output/11.pkl
将删除 output/110.pkl
将删除 output/111.pkl
将删除 output/112.pkl
将删除 output/113.pkl
将删除 output/114.pkl
将删除 output/115.pkl
将删除 output/116.pkl
将删除 output/117.pkl
将删除 output/118.pkl
将删除 output/119.pkl
将删除 output/12.pkl
将删除 output/120.pkl
将删除 output/121.pkl
将删除 output/122.pkl
将删除 output/123.pkl
将删除 output/124.pkl
将删除 output/125.pkl
将删除 output/126.pkl
将删除 output/127.pkl
将删除 output/128.pkl
将删除 output/129.pkl
将删除 output/13.pkl
将删除 output/130.pkl
将删除 output/131.pkl
将删除 output/132.pkl
将删除 output/133.pkl
将删除 output/134.pkl
将删除 output/135.pkl
将删除 output/136.pkl
将删除 output/137.pkl
将删除 output/138.pkl
将删除 output/139.pkl
将删除 output/14.pkl
将删除 output/140.pkl
将删除 output/141.pkl
将删除 output/142.pkl
将删除 output/143.pkl
将删除 output/144.pkl
将删除 output/145.pkl
将删除 output/146.pkl
将删除 output/147.pkl
将删除 output/148.pkl
将删除 output/149.pkl
将删除 output/15.pkl
将删除 output/150.pkl
将删除 output/151.pkl
将删除 output/152.pkl
将删除 output/153.pkl
将删除 output/154.pkl
将删除 output/155.pkl
将删除 output/156.pkl
将删除 output/157.pkl
将删除 output/158.pkl
将删除 output/159.pkl
将删除 output/16.pkl
将删除 output/160.pkl
将删除 output/161.pkl
将删除 output/162.pkl
将删除 output/163.pkl
将删除 output/164.pkl
将删除 output/165.pkl
将删除 output/166.pkl
将删除 output/167.pkl
将删除 output/168.pkl
将删除 output/169.pkl
将删除 output/17.pkl
将删除 output/170.pkl
将删除 output/171.pkl
将删除 output/172.pkl
将删除 output/173.pkl
将删除 output/174.pkl
将删除 output/175.pkl
将删除 output/176.pkl
将删除 output/177.pkl
将删除 output/178.pkl
将删除 output/179.pkl
将删除 output/18.pkl
将删除 output/180.pkl
将删除 output/181.pkl
将删除 output/182.pkl
将删除 output/183.pkl
将删除 output/184.pkl
将删除 output/185.pkl
将删除 output/186.pkl
将删除 output/187.pkl
将删除 output/188.pkl
将删除 output/189.pkl
将删除 output/19.pkl
将删除 output/190.pkl
将删除 output/191.pkl
将删除 output/192.pkl
将删除 output/193.pkl
将删除 output/194.pkl
将删除 output/195.pkl
将删除 output/196.pkl
将删除 output/197.pkl
将删除 output/198.pkl
将删除 output/199.pkl
将删除 output/2.pkl
将删除 output/20.pkl
将删除 output/200.pkl
将删除 output/201.pkl
将删除 output/202.pkl
将删除 output/203.pkl
将删除 output/204.pkl
将删除 output/205.pkl
将删除 output/206.pkl
将删除 output/207.pkl
将删除 output/208.pkl
将删除 output/209.pkl
将删除 output/21.pkl
将删除 output/210.pkl
将删除 output/211.pkl
将删除 output/212.pkl
将删除 output/213.pkl
将删除 output/214.pkl
将删除 output/215.pkl
将删除 output/216.pkl
将删除 output/217.pkl
将删除 output/218.pkl
将删除 output/219.pkl
将删除 output/22.pkl
将删除 output/220.pkl
将删除 output/221.pkl
将删除 output/222.pkl
将删除 output/223.pkl
将删除 output/224.pkl
将删除 output/225.pkl
将删除 output/226.pkl
将删除 output/227.pkl
将删除 output/228.pkl
将删除 output/229.pkl
将删除 output/23.pkl
将删除 output/230.pkl
将删除 output/231.pkl
将删除 output/232.pkl
将删除 output/233.pkl
将删除 output/234.pkl
将删除 output/235.pkl
将删除 output/236.pkl
将删除 output/237.pkl
将删除 output/238.pkl
将删除 output/239.pkl
将删除 output/24.pkl
将删除 output/240.pkl
将删除 output/241.pkl
将删除 output/242.pkl
将删除 output/243.pkl
将删除 output/244.pkl
将删除 output/245.pkl
将删除 output/246.pkl
将删除 output/247.pkl
将删除 output/248.pkl
将删除 output/249.pkl
将删除 output/25.pkl
将删除 output/250.pkl
将删除 output/251.pkl
将删除 output/252.pkl
将删除 output/253.pkl
将删除 output/254.pkl
将删除 output/255.pkl
将删除 output/256.pkl
将删除 output/257.pkl
将删除 output/258.pkl
将删除 output/259.pkl
将删除 output/26.pkl
将删除 output/260.pkl
将删除 output/261.pkl
将删除 output/262.pkl
将删除 output/263.pkl
将删除 output/264.pkl
将删除 output/265.pkl
将删除 output/266.pkl
将删除 output/267.pkl
将删除 output/268.pkl
将删除 output/269.pkl
将删除 output/27.pkl
将删除 output/270.pkl
将删除 output/271.pkl
将删除 output/272.pkl
将删除 output/273.pkl
将删除 output/274.pkl
将删除 output/275.pkl
将删除 output/276.pkl
将删除 output/277.pkl
将删除 output/278.pkl
将删除 output/279.pkl
将删除 output/28.pkl
将删除 output/280.pkl
将删除 output/281.pkl
将删除 output/282.pkl
将删除 output/283.pkl
将删除 output/284.pkl
将删除 output/285.pkl
将删除 output/286.pkl
将删除 output/287.pkl
将删除 output/288.pkl
将删除 output/289.pkl
将删除 output/29.pkl
将删除 output/290.pkl
将删除 output/291.pkl
将删除 output/292.pkl
将删除 output/293.pkl
将删除 output/294.pkl
将删除 output/295.pkl
将删除 output/296.pkl
将删除 output/297.pkl
将删除 output/298.pkl
将删除 output/299.pkl
将删除 output/3.pkl
将删除 output/30.pkl
将删除 output/300.pkl
将删除 output/301.pkl
将删除 output/302.pkl
将删除 output/303.pkl
将删除 output/304.pkl
将删除 output/305.pkl
将删除 output/306.pkl
将删除 output/307.pkl
将删除 output/308.pkl
将删除 output/309.pkl
将删除 output/31.pkl
将删除 output/310.pkl
将删除 output/311.pkl
将删除 output/312.pkl
将删除 output/313.pkl
将删除 output/314.pkl
将删除 output/315.pkl
将删除 output/316.pkl
将删除 output/317.pkl
将删除 output/318.pkl
将删除 output/319.pkl
将删除 output/32.pkl
将删除 output/320.pkl
将删除 output/321.pkl
将删除 output/322.pkl
将删除 output/323.pkl
将删除 output/324.pkl
将删除 output/325.pkl
将删除 output/326.pkl
将删除 output/327.pkl
将删除 output/328.pkl
将删除 output/329.pkl
将删除 output/33.pkl
将删除 output/330.pkl
将删除 output/331.pkl
将删除 output/332.pkl
将删除 output/333.pkl
将删除 output/334.pkl
将删除 output/335.pkl
将删除 output/336.pkl
将删除 output/337.pkl
将删除 output/338.pkl
将删除 output/339.pkl
将删除 output/34.pkl
将删除 output/340.pkl
将删除 output/341.pkl
将删除 output/342.pkl
将删除 output/343.pkl
将删除 output/344.pkl
将删除 output/345.pkl
将删除 output/346.pkl
将删除 output/347.pkl
将删除 output/348.pkl
将删除 output/349.pkl
将删除 output/35.pkl
将删除 output/350.pkl
将删除 output/351.pkl
将删除 output/352.pkl
将删除 output/353.pkl
将删除 output/354.pkl
将删除 output/355.pkl
将删除 output/356.pkl
将删除 output/357.pkl
将删除 output/358.pkl
将删除 output/359.pkl
将删除 output/36.pkl
将删除 output/360.pkl
将删除 output/361.pkl
将删除 output/362.pkl
将删除 output/363.pkl
将删除 output/364.pkl
将删除 output/365.pkl
将删除 output/366.pkl
将删除 output/367.pkl
将删除 output/368.pkl
将删除 output/369.pkl
将删除 output/37.pkl
将删除 output/370.pkl
将删除 output/371.pkl
将删除 output/372.pkl
将删除 output/373.pkl
将删除 output/374.pkl
将删除 output/375.pkl
将删除 output/376.pkl
将删除 output/377.pkl
将删除 output/378.pkl
将删除 output/379.pkl
将删除 output/38.pkl
将删除 output/380.pkl
将删除 output/381.pkl
将删除 output/382.pkl
将删除 output/383.pkl
将删除 output/384.pkl
将删除 output/385.pkl
将删除 output/386.pkl
将删除 output/387.pkl
将删除 output/388.pkl
将删除 output/389.pkl
将删除 output/39.pkl
将删除 output/390.pkl
将删除 output/391.pkl
将删除 output/392.pkl
将删除 output/393.pkl
将删除 output/394.pkl
将删除 output/395.pkl
将删除 output/396.pkl
将删除 output/397.pkl
将删除 output/398.pkl
将删除 output/399.pkl
将删除 output/4.pkl
将删除 output/40.pkl
将删除 output/400.pkl
将删除 output/401.pkl
将删除 output/402.pkl
将删除 output/403.pkl
将删除 output/404.pkl
将删除 output/405.pkl
将删除 output/406.pkl
将删除 output/407.pkl
将删除 output/408.pkl
将删除 output/409.pkl
将删除 output/41.pkl
将删除 output/410.pkl
将删除 output/411.pkl
将删除 output/412.pkl
将删除 output/413.pkl
将删除 output/414.pkl
将删除 output/415.pkl
将删除 output/416.pkl
将删除 output/417.pkl
将删除 output/418.pkl
将删除 output/419.pkl
将删除 output/42.pkl
将删除 output/420.pkl
将删除 output/421.pkl
将删除 output/422.pkl
将删除 output/423.pkl
将删除 output/424.pkl
将删除 output/425.pkl
将删除 output/426.pkl
将删除 output/427.pkl
将删除 output/428.pkl
将删除 output/429.pkl
将删除 output/43.pkl
将删除 output/430.pkl
将删除 output/431.pkl
将删除 output/432.pkl
将删除 output/433.pkl
将删除 output/434.pkl
将删除 output/435.pkl
将删除 output/436.pkl
将删除 output/437.pkl
将删除 output/438.pkl
将删除 output/439.pkl
将删除 output/44.pkl
将删除 output/440.pkl
将删除 output/441.pkl
将删除 output/442.pkl
将删除 output/443.pkl
将删除 output/444.pkl
将删除 output/445.pkl
将删除 output/446.pkl
将删除 output/447.pkl
将删除 output/448.pkl
将删除 output/449.pkl
将删除 output/45.pkl
将删除 output/450.pkl
将删除 output/451.pkl
将删除 output/452.pkl
将删除 output/453.pkl
将删除 output/454.pkl
将删除 output/455.pkl
将删除 output/456.pkl
将删除 output/457.pkl
将删除 output/458.pkl
将删除 output/459.pkl
将删除 output/46.pkl
将删除 output/460.pkl
将删除 output/461.pkl
将删除 output/462.pkl
将删除 output/463.pkl
将删除 output/464.pkl
将删除 output/465.pkl
将删除 output/466.pk
l
将删除 output/467.pkl
将删除 output/468.pkl
将删除 output/469.pkl
将删除 output/47.pkl
将删除 output/470.pkl
将删除 output/471.pkl
将删除 output/472.pkl
将删除 output/473.pkl
将删除 output/474.pkl
将删除 output/475.pkl
将删除 output/476.pkl
将删除 output/477.pkl
将删除 output/478.pkl
将删除 output/479.pkl
将删除 output/48.pkl
将删除 output/480.pkl
将删除 output/481.pkl
将删除 output/482.pkl
将删除 output/483.pkl
将删除 output/484.pkl
将删除 output/485.pkl
将删除 output/486.pkl
将删除 output/487.pkl
将删除 output/488.pkl
将删除 output/489.pkl
将删除 output/49.pkl
将删除 output/490.pkl
将删除 output/491.pkl
将删除 output/492.pkl
将删除 output/493.pkl
将删除 output/494.pkl
将删除 output/495.pkl
将删除 output/496.pkl
将删除 output/497.pkl
将删除 output/498.pkl
将删除 output/499.pkl
将删除 output/5.pkl
将删除 output/50.pkl
将删除 output/500.pkl
将删除 output/501.pkl
将删除 output/502.pkl
将删除 output/503.pkl
将删除 output/504.pkl
将删除 output/505.pkl
将删除 output/506.pkl
将删除 output/507.pkl
将删除 output/508.pkl
将删除 output/509.pkl
将删除 output/51.pkl
将删除 output/510.pkl
将删除 output/511.pkl
将删除 output/512.pkl
将删除 output/513.pkl
将删除 output/514.pkl
将删除 output/515.pkl
将删除 output/516.pkl
将删除 output/517.pkl
将删除 output/518.pkl
将删除 output/519.pkl
将删除 output/52.pkl
将删除 output/520.pkl
将删除 output/521.pkl
将删除 output/522.pkl
将删除 output/523.pkl
将删除 output/524.pkl
将删除 output/525.pkl
将删除 output/526.pkl
将删除 output/527.pkl
将删除 output/528.pkl
将删除 output/529.pkl
将删除 output/53.pkl
将删除 output/530.pkl
将删除 output/531.pkl
将删除 output/532.pkl
将删除 output/533.pkl
将删除 output/534.pkl
将删除 output/535.pkl
将删除 output/536.pkl
将删除 output/537.pkl
将删除 output/538.pkl
将删除 output/539.pkl
将删除 output/54.pkl
将删除 output/540.pkl
将删除 output/541.pkl
将删除 output/542.pkl
将删除 output/543.pkl
将删除 output/544.pkl
将删除 output/545.pkl
将删除 output/546.pkl
将删除 output/547.pkl
将删除 output/548.pkl
将删除 output/549.pkl
将删除 output/55.pkl
将删除 output/550.pkl
将删除 output/551.pkl
将删除 output/552.pkl
将删除 output/553.pkl
将删除 output/554.pkl
将删除 output/555.pkl
将删除 output/556.pkl
将删除 output/557.pkl
将删除 output/558.pkl
将删除 output/559.pkl
将删除 output/56.pkl
将删除 output/560.pkl
将删除 output/561.pkl
将删除 output/562.pkl
将删除 output/563.pkl
将删除 output/564.pkl
将删除 output/565.pkl
将删除 output/566.pkl
将删除 output/567.pkl
将删除 output/568.pkl
将删除 output/569.pkl
将删除 output/57.pkl
将删除 output/570.pkl
将删除 output/571.pkl
将删除 output/572.pkl
将删除 output/573.pkl
将删除 output/574.pkl
将删除 output/575.pkl
将删除 output/576.pkl
将删除 output/577.pkl
将删除 output/578.pkl
将删除 output/579.pkl
将删除 output/58.pkl
将删除 output/580.pkl
将删除 output/581.pkl
将删除 output/582.pkl
将删除 output/583.pkl
将删除 output/584.pkl
将删除 output/585.pkl
将删除 output/586.pkl
将删除 output/587.pkl
将删除 output/588.pkl
将删除 output/589.pkl
将删除 output/59.pkl
将删除 output/590.pkl
将删除 output/591.pkl
将删除 output/592.pkl
将删除 output/593.pkl
将删除 output/594.pkl
将删除 output/595.pkl
将删除 output/596.pkl
将删除 output/597.pkl
将删除 output/598.pkl
将删除 output/599.pkl
将删除 output/6.pkl
将删除 output/60.pkl
将删除 output/600.pkl
将删除 output/601.pkl
将删除 output/602.pkl
将删除 output/603.pkl
将删除 output/604.pkl
将删除 output/605.pkl
将删除 output/606.pkl
将删除 output/607.pkl
将删除 output/608.pkl
将删除 output/609.pkl
将删除 output/61.pkl
将删除 output/610.pkl
将删除 output/611.pkl
将删除 output/612.pkl
将删除 output/613.pkl
将删除 output/614.pkl
将删除 output/615.pkl
将删除 output/616.pkl
将删除 output/617.pkl
将删除 output/618.pkl
将删除 output/619.pkl
将删除 output/62.pkl
将删除 output/620.pkl
将删除 output/621.pkl
将删除 output/622.pkl
将删除 output/623.pkl
将删除 output/624.pkl
将删除 output/625.pkl
将删除 output/626.pkl
将删除 output/627.pkl
将删除 output/628.pkl
将删除 output/629.pkl
将删除 output/63.pkl
将删除 output/630.pkl
将删除 output/631.pkl
将删除 output/632.pkl
将删除 output/633.pkl
将删除 output/634.pkl
将删除 output/635.pkl
将删除 output/636.pkl
将删除 output/637.pkl
将删除 output/638.pkl
将删除 output/639.pkl
将删除 output/64.pkl
将删除 output/640.pkl
将删除 output/641.pkl
将删除 output/642.pkl
将删除 output/643.pkl
将删除 output/644.pkl
将删除 output/645.pkl
将删除 output/646.pkl
将删除 output/647.pkl
将删除 output/648.pkl
将删除 output/649.pkl
将删除 output/65.pkl
将删除 output/650.pkl
将删除 output/651.pkl
将删除 output/652.pkl
将删除 output/653.pkl
将删除 output/654.pkl
将删除 output/655.pkl
将删除 output/656.pkl
将删除 output/657.pkl
将删除 output/658.pkl
将删除 output/659.pkl
将删除 output/66.pkl
将删除 output/660.pkl
将删除 output/661.pkl
将删除 output/662.pkl
将删除 output/663.pkl
将删除 output/664.pkl
将删除 output/665.pkl
将删除 output/666.pkl
将删除 output/667.pkl
将删除 output/668.pkl
将删除 output/669.pkl
将删除 output/67.pkl
将删除 output/670.pkl
将删除 output/671.pkl
将删除 output/672.pkl
将删除 output/673.pkl
将删除 output/674.pkl
将删除 output/675.pkl
将删除 output/676.pkl
将删除 output/677.pkl
将删除 output/678.pkl
将删除 output/679.pkl
将删除 output/68.pkl
将删除 output/680.pkl
将删除 output/681.pkl
将删除 output/682.pkl
将删除 output/683.pkl
将删除 output/684.pkl
将删除 output/685.pkl
将删除 output/686.pkl
将删除 output/687.pkl
将删除 output/688.pkl
将删除 output/689.pkl
将删除 output/69.pkl
将删除 output/690.pkl
将删除 output/691.pkl
将删除 output/692.pkl
将删除 output/693.pkl
将删除 output/694.pkl
将删除 output/695.pkl
将删除 output/696.pkl
将删除 output/697.pkl
将删除 output/698.pkl
将删除 output/699.pkl
将删除 output/7.pkl
将删除 output/70.pkl
将删除 output/700.pkl
将删除 output/701.pkl
将删除 output/702.pkl
将删除 output/703.pkl
将删除 output/704.pkl
将删除 output/705.pkl
将删除 output/706.pkl
将删除 output/707.pkl
将删除 output/708.pkl
将删除 output/709.pkl
将删除 output/71.pkl
将删除 output/710.pkl
将删除 output/711.pkl
将删除 output/712.pkl
将删除 output/713.pkl
将删除 output/714.pkl
将删除 output/715.pkl
将删除 output/716.pkl
将删除 output/717.pkl
将删除 output/718.pkl
将删除 output/719.pkl
将删除 output/72.pkl
将删除 output/720.pkl
将删除 output/721.pkl
将删除 output/722.pkl
将删除 output/723.pkl
将删除 output/724.pkl
将删除 output/725.pkl
将删除 output/726.pkl
将删除 output/727.pkl
将删除 output/728.pkl
将删除 output/729.pkl
将删除 output/73.pkl
将删除 output/730.pkl
将删除 output/731.pkl
将删除 output/732.pkl
将删除 output/733.pkl
将删除 output/734.pkl
将删除 output/735.pkl
将删除 output/736.pkl
将删除 output/737.pkl
将删除 output/738.pkl
将删除 output/739.pkl
将删除 output/74.pkl
将删除 output/740.pkl
将删除 output/741.pkl
将删除 output/742.pkl
将删除 output/743.pkl
将删除 output/744.pkl
将删除 output/745.pkl
将删除 output/746.pkl
将删除 output/747.pkl
将删除 output/748.pkl
将删除 output/749.pkl
将删除 output/75.pkl
将删除 output/750.pkl
将删除 output/751.pkl
将删除 output/752.pkl
将删除 output/753.pkl
将删除 output/754.pkl
将删除 output/755.pkl
将删除 output/756.pkl
将删除 output/757.pkl
将删除 output/758.pkl
将删除 output/759.pkl
将删除 output/76.pkl
将删除 output/760.pkl
将删除 output/761.pkl
将删除 output/762.pkl
将删除 output/763.pkl
将删除 output/764.pkl
将删除 output/765.pkl
将删除 output/766.pkl
将删除 output/767.pkl
将删除 output/768.pkl
将删除 output/769.pkl
将删除 output/77.pkl
将删除 output/770.pkl
将删除 output/771.pkl
将删除 output/772.pkl
将删除 output/773.pkl
将删除 output/774.pkl
将删除 output/775.pkl
将删除 output/776.pkl
将删除 output/777.pkl
将删除 output/778.pkl
将删除 output/779.pkl
将删除 output/78.pkl
将删除 output/780.pkl
将删除 output/781.pkl
将删除 output/782.pkl
将删除 output/783.pkl
将删除 output/784.pkl
将删除 output/785.pkl
将删除 output/786.pkl
将删除 output/787.pkl
将删除 output/788.pkl
将删除 output/789.pkl
将删除 output/79.pkl
将删除 output/790.pkl
将删除 output/791.pkl
将删除 output/792.pkl
将删除 output/793.pkl
将删除 output/794.pkl
将删除 output/795.pkl
将删除 output/796.pkl
将删除 output/797.pkl
将删除 output/798.pkl
将删除 output/799.pkl
将删除 output/8.pkl
将删除 output/80.pkl
将删除 output/800.pkl
将删除 output/801.pkl
将删除 output/802.pkl
将删除 output/803.pkl
将删除 output/804.pkl
将删除 output/805.pkl
将删除 output/806.pkl
将删除 output/807.pkl
将删除 output/808.pkl
将删除 output/809.pkl
将删除 output/81.pkl
将删除 output/810.pkl
将删除 output/811.pkl
将删除 output/812.pkl
将删除 output/813.pkl
将删除 output/814.pkl
将删除 output/815.pkl
将删除 output/816.pkl
将删除 output/817.pkl
将删除 output/818.pkl
将删除 output/819.pkl
将删除 output/82.pkl
将删除 output/820.pkl
将删除 output/821.pkl
将删除 output/822.pkl
将删除 output/823.pkl
将删除 output/824.pkl
将删除 output/825.pkl
将删除 output/826.pkl
将删除 output/827.pkl
将删除 output/828.pkl
将删除 output/829.pkl
将删除 output/83.pkl
将删除 output/830.pkl
将删除 output/831.pkl
将删除 output/832.pkl
将删除 output/833.pkl
将删除 output/834.pkl
将删除 output/835.pkl
将删除 output/836.pkl
将删除 output/837.pkl
将删除 output/838.pkl
将删除 output/839.pkl
将删除 output/84.pkl
将删除 output/840.pkl
将删除 output/841.pkl
将删除 output/842.pkl
将删除 output/843.pkl
将删除 output/844.pkl
将删除 output/845.pkl
将删除 output/846.pkl
将删除 output/847.pkl
将删除 output/848.pkl
将删除 output/849.pkl
将删除 output/85.pkl
将删除 output/850.pkl
将删除 output/851.pkl
将删除 output/852.pkl
将删除 output/853.pkl
将删除 output/854.pkl
将删除 output/855.pkl
将删除 output/856.pkl
将删除 output
/857.pkl
将删除 output/858.pkl
将删除 output/859.pkl
将删除 output/86.pkl
将删除 output/860.pkl
将删除 output/861.pkl
将删除 output/862.pkl
将删除 output/863.pkl
将删除 output/864.pkl
将删除 output/865.pkl
将删除 output/87.pkl
将删除 output/88.pkl
将删除 output/89.pkl
将删除 output/9.pkl
将删除 output/90.pkl
将删除 output/91.pkl
将删除 output/92.pkl
将删除 output/93.pkl
将删除 output/94.pkl
将删除 output/95.pkl
将删除 output/96.pkl
将删除 output/97.pkl
将删除 output/98.pkl
将删除 output/99.pkl
将删除 output/dataset~cora-hidden~16-nheads_1~4-nheads_2~None-nheads_3~None-nheads_4~None-learning_rate~0.001-weight_decay~0.0005-order1_attention~True-order2_attention~False-patience~100/
将删除 output/hidden~128-nheads_1~4-nheads_2~None-nheads_3~None-nheads_4~None-nheads_last~4-learning_rate~0.001-weight_decay~0-order1_attention~False-order2_attention~False-patience~1000/
将删除 result/
将删除 train.sh
将删除 train_ppi_script.sh
将删除 "\345\256\236\351\252\214\350\256\260\345\275\225.xlsx"
将删除 output/466.pkl
将
删除 output/484.pkl
将删除 output/857.pkl
将删除
output/96.pkl
